{
  "extends": [
    "plugin:vue/essential",
    "standard"
  ],
  "plugins": [
    "vue"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true

  },
  "rules": {
    "no-debugger": "off",
    "no-console": "off",
    "indent": "off",
    "no-var": "off",
    "no-new": "off",
    "no-tabs": "off",
    "no-redeclare": "off",
    "no-useless-escape": "off",
    "vue/script-indent": [
      "error",
      2,
      {
        "baseIndent": 1,
        "switchCase": 1
      }
    ]
  },
  "globals": {
    "window": true,
    "Vue": true,
    "weex": true,
    "WXEnvironment": true
  }
}